{{> header }}
{{> navbar }}
<h1>Algunos de mis pintores Favoritos son:</h1>
<p>
  1. Leonardo Da Vinci <br>
  <br>
  2. Frida Kahlo <br>
  <br>
  3. Diego Rivera <br>
  <br>
  4.Fernando Botero

</p>
{{> footer }}
